root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cs,cpp,hpp,h,cc}]
indent_style = space
indent_size = 4

[*.gd]
indent_style = tab
indent_size = 4

[*.lua]
indent_style = space
indent_size = 2

[*.{yaml,yml,json,jsonc}]
indent_style = space
indent_size = 2

[*.{tres,tscn,godot,import,cfg}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{md,markdown}]
trim_trailing_whitespace = false
